@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

body {
  font-family:"PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color:#F2F2F2;
  color:#000000 ;
  margin: 0;
  background-image: url(/images/prime/photo-under-text.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;

}
.page-header{
  background-color: #ffffff;
}

.page-header .visually-hidden{
  visibility: hidden;
}
.navigation ul{
  display: block;
  list-style-type: disc;
  margin-block-start:  0;
  margin-block-end: 0;
  padding-inline-start: 0;
}
.navigation-item{
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.navigation-item .button{
  width: 160px;
  height: 37px;
  background-color: #756257;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.navigation-link{
  color:inherit;
  text-decoration: none;
}

.main-inner{
  background-color: #ffffff;
  background-image: url(/images/hotels/catalog-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.inner-header ul{
  display: block;
  list-style-type: disc;
  margin-block-end: 0;
  margin-block-start: 0;
  padding-inline-start: 0;
}
.preview h1{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.inner-header h1{
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}
.preview p{
  font-size: 22px;
  line-height: 36px;
}
.catalog-filter-housing{
    color:#ffffff
}
.catalog-filter-housing ul{
  display: block;
  list-style-type: disc;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}
.catalog-filter-housing h2{
  visibility: hidden;
}
.catalog-filter-housing h3{
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}
.filter-item{
  font-size: 18px;
  line-height: 23px;
}
.format{
  width: 144px;
  height: 48px;
  font-size: 18px;
  line-height: 23px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 4px;
}

.catalog-filter-housing button{
  width: 160px;
  height: 48px;
  border: transparent;
  border-radius: 4px;
  background-color: #83B3D3;
  color:#ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}
.catalog-filter-housing .visually-hidden {
  background-color:transparent;
  border: transparent;
  text-transform: none;
}

.blocks{
  display: block;
  list-style-type: disc;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  text-align: center;
}
.block1{
  color:#ffffff;
  background-color:#83B3D3 ;
}
.block2{
  color:#ffffff;
  background-color:#83B3D3 ;

}
.block3{
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);


}
.block4{
  color:#000000;
  background-color: rgba(131, 179, 211, 0.2);
}

.block5{
  color:#000000;
  background-color: rgba(131, 179, 211, 0.12);
}

.blocks h2{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}


.mini-block{
  color:#000000;
  background-color:#ffffff;
  text-align: center;
  text-transform: none;
}

.mini-block .mini1{
  background-color:rgba(131, 179, 211, 0.12);
}

.mini-block .mini3{
  background-color:rgba(134, 173, 199, 0.12);
}

.mini-block h3{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.demand{
  background-color: #ffffff;
  color:#000000;
  text-align: center;
  text-transform: none;
}

.demand h2{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.demand p{
  font-size: 22px;
  line-height: 26px;
}

.demand button{
  width: 575px;
  height: 60px;
  background: #756257;
  color: #ffffff;
  border-radius: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.pages{
  background-color: #ffffff;
  color: #000000;
}

.pages h2{
 font-weight: 700;
 font-size: 30px;
 line-height: 39px;
}

.pages p{
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}
.pages .button {
  width: 48px;
  height: 48px;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
  text-align: center;
}

.select1-control{
  width: 287px;
  height: 48px;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  text-transform: none;
  min-height: 0;

}
.housing-list{
  display: block;
  list-style-type: disc;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}
.housing-cards{
  background: #FFFFFF;
  color:#000000
}

.housing-cards a{
  color:inherit;
  text-align: left;
  vertical-align: middle;
  text-decoration: none;
}

.housing-cards h3{
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
}

.housing-cards p{
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.housing-cards .button {
  width: 133px;
  height: 37px;
  border: transparent;
  border-radius: 4px;
  background-color: #756257;
  color:#FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}

.housing-cards .checkbox{
  width: 141px;
  height: 37px;
  border-radius: 4px;
  border: transparent;
  background-color: #83B3D3;
  color:#FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  position: static;
}
.housing-cards .button-star{
  width: 160px;
  height: 37px;
  background-color: #F2F2F2;
  border-radius: 4px;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}

.addition button{
  width: 620px;
  height: 60px;
  background: #83B3D3;
 border-radius: 4px;
 border: transparent;
 color:#FFFFFF;
 font-weight: 700;
 font-size: 20px;
 line-height: 26px;
 text-align: center;
 text-transform: uppercase;
}
.pagination{
  display: block;
  list-style-type: disc;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}
.pagination-link{
  width: 50px;
  height: 50px;
  border-radius: 4px;
  border: transparent;
  background-color: #83B3D3;
  color:#FFFFFF;
  text-align: center;
  text-transform: uppercase;
}

.select2-control{
  width: 160px;
  height: 48px;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 18px;
  line-height: 23px;
  text-align: left;
  text-transform: uppercase;
}

.page-footer {
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  text-transform: none;
}

.footer{
  color:#ffffff;
  background-image: url(/images/bottom/background-footer.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.footer h2{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.footer p{
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.appointment-form input{
 width: 600px;
 height:60px ;
 background: #F2F2F2;
 border-radius: 10px 0px 0px 10px;
 border: transparent;

}

input::placeholder{
  color: #000000;
  font-size: 18px;
  line-height: 26px;
}

.appointment-form button{
  width: 200px;
  height: 60px;
  background: #83B3D3;
  border-radius: 0px 10px 10px 0px;
  border: transparent;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color:#ffffff;
  text-transform: uppercase;

}
.footer-social-list{
  display:block;
  list-style-type: disc;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}
.page-footer a{
  color:inherit;
  text-decoration: none;
}

footer .visually-hidden {
  visibility: hidden;

}

.footer-contacts-address-phone{
  font-size: 40px;
  line-height: 40px;

}

.footer-logo{
  width: 115px;
  height: 33px;

}
